.setColumn a {
  padding: 10px;
  margin-bottom: 4px;
  border-radius: 6px;
}
.setContainer {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
}
.setContainerCustom {
  background: #fff;
  padding: 20px;
  padding-right: 0;
  border-radius: 6px;
}
.termContainer {
  height: 70vh;
  overflow-y: scroll;
  /* background-color: red; */
}
.termContainer span {
  font-weight: 500;
  font-size: 16px;
}
